<template>
		<div :id="id" class="highcharts"></div>
</template>

<script>
import idMixin from '@/mixins/idMixin'
var Highcharts = require('highcharts/highcharts');

export default {
	props: ['chartData', 'info', 'subtitle'],
	mixins: [idMixin],	
	methods: {
		renderNewHighcharts() {
			this.chartObj = new Highcharts.chart(this.$el, this.chartData)
		}
	},
	mounted: function() {
		Vue.nextTick( () => {
			this.renderNewHighcharts();		
		});
	},
	watch: {
		chartData: function (to, from) {
			Vue.nextTick( () => {
				this.renderNewHighcharts();		
			});
		},
		width: function(to, from) {
			Vue.nextTick( () => {
				this.renderNewHighcharts();		
			});
		}
	},
	beforeDestroy(){
		setTimeout(function() {
			if (this.chartObj) {
				this.chartObj.destroy();
			}
		}, 3000);
	}
}
</script>