<template>
	<div class="row mt-3 row-no-gutter">
		
		<div class="col-12 col-lg-4 side p-3">
			<div class="side-title">
				<h1>Value of Customer Experience</h1>
				<div class="title-sub">
					Understand how creating a positive experience for your customers translates to value.
				</div>
			</div>
			
			<div class="odata mt-5">
				<div><h2>Revenue</h2></div>
				<div v-for="item in form.revenue" :key="item.name" class="row odata-row">
					<div class="col-5">
						{{item.name}}
					</div>
					<div class="col-3 p-0">
						<NumberInputSpinner
						:min="0"
						:max="10"
						:step="2"
						inputClass="spinner-input"
						buttonClass="spinner-button"
						:integerOnly="true"
						v-model="item.value"
						/>
					</div>
					<span class="col-3 line-total">
						{{calcValue(item) | dollars }}
					</span>
					
				</div>
				<div class="row">
					<span class="col-8 text-right">Revenue Subotal</span> 
					<span class="col-3">{{calcValue() | dollars }}</span>
				</div>

				<div class="mt-5">
					<div><h2>Costs</h2></div>
					<div v-for="item in form.costs" :key="item.name" class="row odata-row">
						<div class="col-5">
							{{item.name}}
						</div>
						<div class="col-3 p-0">
							<NumberInputSpinner
							:min="0"
							:max="10"
							:step="2"
							inputClass="spinner-input"
							buttonClass="spinner-button"
							:integerOnly="true"
							v-model="item.value"
							/>
						</div>
						<span class="col-3 line-total">
							{{calcValue(item) | dollars }}
						</span>
						
					</div>
				</div>
				<div class="row">
					
					<span class="col-8 text-right">Cost Subotal</span> 
					<span class="col-3">{{calcValue(555) | dollars }}</span>
				</div>
			</div>
		
	</div>
	
	<div class="col-12 col-lg-8  ">
		<div class="col-12">
			<div>
				<h2>Total Revenue</h2>
			</div>
			<div class="big-final">
				{{calcValue() | dollars }}
			</div>
		</div>
		<div class="row px-3">
		<div class="col-12 col-md-6 final-sub-left d-flex justify-content-between">
			<div>
				<div>
					Impact From Cost
				</div>
				<div>
					{{calcValue() | dollars }}
				</div>
			</div>
			<div>
				
				<div>
					Impact From Revenue
				</div>
				<div>
					{{calcValue() | dollars }}
				</div>
			</div>

			
		</div>
		<div class="col-12 col-md-6 d-flex justify-content-between">
			<div>
				<div>
					Current NPS
				</div>
				<div>
					{{calcValue() | dollars }}
				</div>
			</div>
			<div>
				
				<div>
					Target NPS
				</div>
				<div>
					{{calcValue() | dollars }}
				</div>
			</div>

			
		</div>
	</div>

		<div class="chart col-12">
			<base-charts :chartData="chartOpts"></base-charts>
		</div>

		<!-- <el-col>
			{{total_cost_d_2_p.total | dollars}}
		</el-col>
		<el-col>
			{{total_cost_p_2_p.total | dollars }}
		</el-col> -->
</div>

</div>
</template>

<style lang="scss">
$sidebar_background: #FAFAFA;
$dark: #2E3035;
$black100: #3C3F45;

.final-sub-left {
	border-right: 1px solid #EBECEC;

}

.big-final {
	font-size: 64px;
	color: #136EF6;
	font-weight: bold;
}

.row {
	color: $black100;
}

.title-sub {
	font-size: 12px;
	color: #63656A;
}

.equal {
    display: flex;
    flex-wrap: wrap;
  }
.currency {
	.el-input-group__prepend {
		padding-left: 6px;
		padding-right: 6px;
	}
}

.chart {
	padding: 1rem;
}

h2 {
	font-size: 16px;
	color: #000000
}

.side {
	.side-title {
		h1 {
			font-weight: bold;
			font-size: 24px;
		}
	}
}

.odata {
	border-right: 1px solid #EBECEC;
	font-size: 14px;
	color: #63656A;
	.odata-row {
		height: 55px;
	}
	.line-total {
		color: #63656A;
		font-size: 14px;
	}
}

.vnis {
	width: fit-content;
	border: 1px solid #D8D9DA;
	border-radius: 4px;
	padding: 3px;
}

.spinner-input {
	background: transparent;
	border: none;
	text-align: center;
	color: #242629;
	margin-left: 5px;
	margin-right: -11px;
}

.spinner-button {
	&:focus{
	   outline:none;
	  }
	background: transparent;
	border: none;
	color: #6CA3F5;
}

</style>

<script>
import BaseCharts from "@/components/BaseCharts"
import NumberInputSpinner from 'vue-number-input-spinner'

export default { 
	components: {
		BaseCharts,
		NumberInputSpinner
	},
	data () {
		return {
			tabName: 'ROI',
			form: {
				revenue: [
					{
						name: 'Plan Monthly Fees',
						sub: 'Average across all plans',
						value: 88
					},
					{
						name: 'Contract Length',
						sub: 'Average across all segments',
						value: 20
					},
					{
						name: 'Additional Transactions',
						sub: 'Tablets, Hats, etc.',
						value: 1
					}
				],
				costs: [
					{
						name: 'Coverage Complaints',
						value: 10
					},
					{
						name: 'Failed Payments',
						value: 20
					},
					{
						name: 'Late Payments',
						value: 10
					}
				],
				targets: {
					dp: 2,
					pp: 2
				},
				customerCounts: [
					{
						name: 'Detractors',
						value: 1000
					},
					{
						name: 'Passives',
						value: 4000
					},
					{
						name: 'Promoters',
						value: 5000
					}
				]
			}
		}
	},
	filters: {
		int (val) {
			return val.toFixed(0)
		},
		dollars (val) {
			return  Number(val).toLocaleString('en-US', { 
				style: 'currency', 
				currency: 'USD', 
				useGrouping: true,
				currencyDisplay: "symbol"
			});
		}
	},
	computed: {
		total_cost_d_2_p () {
			
				let percent_improvement = this.form.targets.dp / 100
				let number_of_passive = this.form.customerCounts[1].value
			
				let customer_count = percent_improvement * number_of_passive
				console.log('customer count: '+customer_count)
				
				let difference = Math.abs(this.passive_percent - this.promoter_percent)
				
				
				let costs = _.sumBy(this.form.costs, (cost) => {
					return cost.value*difference
				})
				let costs_sub = costs * customer_count * 1000				
				
				let revenue = _.sumBy(this.form.revenue, (rev) => {
					return rev.value*difference
				})
				let rev_sub = revenue * customer_count * 1000				
				
				return {
					costs: costs_sub,
					revenue: rev_sub,
					total: costs_sub + rev_sub
				}
				
		},
		total_cost_p_2_p () {
			
				let percent_improvement = this.form.targets.pp / 100
				let number_of_dissatisifed = this.form.customerCounts[0].value
			
				let customer_count = percent_improvement * number_of_dissatisifed
				console.log('customer count: '+customer_count)
				
				let difference = Math.abs(this.detractor_percent - this.passive_percent)
				
				
				let costs = _.sumBy(this.form.costs, (cost) => {
					return cost.value*difference
				})
				let costs_sub = costs * customer_count * 1000				
				
				let revenue = _.sumBy(this.form.revenue, (rev) => {
					return rev.value*difference
				})
				let rev_sub = revenue * customer_count * 1000				
				
				return {
					costs: costs_sub,
					revenue: rev_sub,
					total: costs_sub + rev_sub
				}
					
		},
		total_customers () {
			return _.sumBy(this.form.customerCounts, (v) => {
				return v.value
			})
		},
		detractor_percent() {
			return this.form.customerCounts[0].value / this.total_customers
		},
		passive_percent() {
			return this.form.customerCounts[1].value / this.total_customers			
		},
		promoter_percent() {
			return this.form.customerCounts[2].value / this.total_customers
		},
		current_nps() {
			return (this.promoter_percent * 100) - (this.detractor_percent * 100) 
		},
		target_nps() {
			let total = _.sumBy(this.form.customerCounts, (v) => {
				return v.value
			})
			let detractors = this.form.customerCounts[0].value
			let promoters = this.form.customerCounts[2].value 
			
			let d = (promoters/total * 100) + this.form.targets.dp
			let p = (detractors/total * 100) - this.form.targets.pp
			
			return d - p			
		},
		series () {
			
			let revenue = this.total_cost_p_2_p.revenue + this.total_cost_d_2_p.revenue
			let cost = this.total_cost_p_2_p.costs + this.total_cost_d_2_p.costs
			let total = this.total_cost_p_2_p.total + this.total_cost_d_2_p.total
			
			
			
			
			return  [
				{
					name: 'Impact from Revenue',
					data: this.annual(revenue)
				}, {
					name: 'Impact from Cost',
					data: this.annual(cost)
				}, {
					name: 'Total Impact',
					data: this.annual(total)
				}, 
			]
		},
		chartOpts () {
			return {
				title: {
					text: 'Monthly Breakdown'
				},
				
				subtitle: {
					text: 'Enjoy our super accurate estimates'
				},
				
				yAxis: {
					title: {
						text: 'Annual Estimated Impact'
					}
				},
				xAxis: {
					title: {
						text: 'Months'
					},
					labels: {
						enabled: true
					},
					categories: [1,2,3,4,5,6,7,8,9,10,11,12],
					tickmarkPlacement: 'on',

				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle'
				},
				series: this.series,
				tooltip: {
					split: false,
					enabled: true
				},
				credits: {
					enabled: false
				},
				responsive: {
					rules: [{
						condition: {
							maxWidth: 500
						},
						chartOptions: {
							legend: {
								layout: 'horizontal',
								align: 'center',
								verticalAlign: 'bottom'
							}
						}
					}]
				}
			}
		}
	},
	methods : {
		calcValue(obj) {
				return 55555555;
		},
		annual (value) {
			let month = value/12
			let array = []
			for (let i = 1; i <= 12; i++) {
				array.push(month * i)
			}
			return array
		}
	}
}
</script>