<template>
	<div>
		<roi-header></roi-header>
		<el-tabs v-model="tabName" >
			<el-tab-pane  label="" name="space" ></el-tab-pane>

			<el-tab-pane label="O Data" name="o_data" ></el-tab-pane>
			<el-tab-pane label="X Data" name="x_data"></el-tab-pane>
			<el-tab-pane label="ROI Calculator" name="ROI"></el-tab-pane>
		</el-tabs>

		<div class="container-fluid">
		
			<router-view/>
		</div>
		
	</div>
</template>

<script>
import RoiHeader from "@/components/RoiHeader"
export default {
	data: function() {
		return {
			tabName:'ROI'
		}
	},
	components: {
		RoiHeader
	}
	
}
</script>

<style lang="scss">

@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


#app, .container {
  font-family: '72', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
}

</style>
